@* File: Views/Test/Index.cshtml *@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test Page</title>
</head>
<body>
    <h1>Hello From the Test Controller!</h1>
    <p>If you see this text, the core MVC rendering engine is working.</p>
</body>
</html>